---
layout: page
title: "About"
description: "Hey, Welcome."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese китайски</option>
    <option value="1"> 英文 English английский</option>
	<option value="2"> 俄文 Russian русский</option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
	<blockquote><p>想要改变<br>
    尝试改变</p></blockquote>

	<p><strong>Name:</strong>YingJie or 高向高</p>
	<p><strong>Case:</strong>抑郁症患者;强迫症;场景间歇性对过去自责;行动力差.嗯,我精神不正常.</p>
	<p><strong>Hobby:</strong>非传统运动项目爱好者;心灵摄影爱好者;图拉丁垃圾佬;硬件爱好者;DIY;自认为配不上"Geek",网络安全已入坑,已弃坑单机游戏玩家.嗯,都是坑.</p>
	<q>.黑哥说过,整就牛!.</q>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>To want to change<br>
    To try to change</p></blockquote>

	<p><strong>Name:</strong>YingJie or GaoxiangGao</p>
	<p><strong>Case:</strong>Intermittent depression;Obsession;Somewhere Intermittent oneself Blame yourself for the past;Low perseverance.Yes,Abnormal spirit.</p>
	<p><strong>Hobby:</strong>Non-traditional sports enthusiasts;Photography enthusiasts No equipment;Tulading's Tieba garbage collector;Hardware enthusiasts;DIY;Not worthy to be called:"Geek",Interested in network security,Offline gamers In the past.Yes,All not simple.</p>
	<q>.There's a name for HeiGe(ZhouJingPing)'s hacker said:Just do it(😹)!.</q>
</div>

<!--ru versino-->
<div class="ru post-container">
	<blockquote><p>Хотите изменить<br>
    попробуйте изменить</p></blockquote>

	<p><strong>Имена:</strong>YingJie or 高向高</p>
	<p><strong>Дело:</strong> у пациентов с депрессией;Обсессивно;прерывистый где - то винить себя в прошлом;настойчивость разница.Да,мой дух не нормально.</p>
	<p><strong>Хобби:</strong>движение любителей нетрадиционных проектов; любителей фотографии не использовать оборудование;TuladingTieBa Научи меня собирание мусора;оборудование энтузиастов;DIY;не достоин называться:"Geek",изучение сетевой безопасности,играть в автономном режиме игры.Да,все не так просто.</p>
	<q>.есть хакер по имени HeiGe(ZhouJingPing) сказал,чтобы сделать это!.</q>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
	var $ru = document.querySelector(".ru");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
			$ru.style.display = "none";
        // zh by default
        }else if(_hash == "#ru"){
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 2;
            $zh.style.display = "none";
            $en.style.display = "none";
			$ru.style.display = "block";
        }else{
			$select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
			$ru.style.display = "none";
		}
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else if(index == 1){
            window.location.hash = "#en"
        }else{
			window.location.hash = "#ru"
		}
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<!-- <div class="comment"> -->
    <!-- <!-- This id is used for indexing my loss comments forcedly -->
    <!-- <div class="ds-thread" -->
    <!-- {% if site.duoshuo_username == "huxblog" %} -->
        <!-- data-thread-id="1187623191091085319" -->
    <!-- {% else %} -->
    <!-- <!-- U can just use this key generated to index comments at page about -->
		<!-- data-thread-key="{{site.duoshuo_username}}/about" -->
    <!-- {% endif %} -->

    <!-- data-title="{{page.title}}" -->
    <!-- data-url="{{site.url}}/about/"> -->
	<!-- </div> -->
<!-- </div> -->
<div class="ds-thread" data-thread-key="about" data-title="{{page.title}}" data-url="{{site.url}}/about/">
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
